* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  margin: 12px;
}

header p {
  font-size: 1.6rem;
  padding-top: 4px;
}

main {
  margin: 12px;
}

.containerQAP {
  background-color: rgb(69, 211, 163);
  padding: 12px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

form {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.title {
  color: whitesmoke;
}

section p {
  color: whitesmoke;
  padding-top: 2px;
  padding-bottom: 12px;
  font-size: 1.6rem;
}

form label {
  display: block;
}

form label {
  font-weight: bold;
  font-size: 1.6rem;
  color: aliceblue;
  padding: 8px 4px 2px 2px;
}

form button {
  height: 48px;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 18px 32px;
  margin-top: 18px;
  border: 0;
  border-radius: 4px;
  background-color: aliceblue;
  color: rgb(90, 227, 181);
  box-shadow: 0 18px 48px 35% rgb(181, 187, 192);
}

form input {
  border: 0;
  border-radius: 4px;
  font-size: 1.6rem;
  color: rgb(106, 104, 104);
  padding: 4px;
}

.resultados {
  width: fit-content;
  padding: 12px;
  border-radius: 4px;
  background-color: rgb(75, 198, 157);
  margin-top: 24px;
}

.resultados p {
  font-weight: bold;
}

.disclaimer {
  margin: 6px;
  padding: 12px 0 0;
  font-size: 1.2rem;
  font-style: italic;
}
